:root {
  --privary-color: #068fff;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #000;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.content {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: 8px;
  color: white;
  padding-top: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 10rem;
  height: auto;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.title h1 {
  color: white;
  text-transform: capitalize;
}

.title img {
  width: 3rem;
  height: auto;
  transform: translateY(5px);
}

.folder,
.configuration {
  width: 90%;
  margin: 0 auto;
}

.folder {
  margin-bottom: 2.5rem;
}

.folder__title,
.configuration__title,
.progressContainer__title {
  font-size: 1.6rem !important;
  font-weight: 500 !important;
  color: white !important;
  letter-spacing: -1px;
}

.folder__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  margin-top: 1rem;
}

.folder__list--item {
  width: 50%;
  background-color: #2b2a2a;
  padding: 1.15rem;
  cursor: pointer;
  outline: 1px dashed transparent;
  outline-offset: 3.5px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 0.75rem;
  font-size: 1rem;
  transition: all 0.35s ease-out;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.folder__list--item:hover {
  outline: 1px dashed rgba(255, 255, 255, 0.5);
}

.inputLabel {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -0.15px;
}

.inputBox {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 1rem;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.75);
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.inputWrapper.is-valid .inputBox {
  border: 1px solid var(--privary-color);
}

.inputWrapper .tick {
  width: 1.25rem;
  height: auto;
  flex-shrink: 0;
  display: none;
}

.inputWrapper.is-valid .tick {
  display: inline-block;
}

.progressContainer {
  width: 90%;
  margin: 2rem auto;
}

.progressContainer__progress {
  position: relative;
  height: 2.25rem;
  margin-top: 0.5rem;
}

.progressContainer .progress {
  --bulma-progress-bar-background-color: rgba(255, 255, 255, 1);

  height: 100%;
}

.progressContainer .filesDone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 1.05rem;
  color: black;
  font-weight: 700;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.09);
  letter-spacing: -0.15px;
}

.progressContainer .fileProgress {
  display: flex;
  align-items: center;
  gap: 1rem;
  transform: translateY(-0.5rem);
}

.progressContainer .fileProgress .fileProgressText {
  text-transform: capitalize;
  color: #08cb00;
}

.progressContainer .fileProgress .loader {
  width: 18px;
  height: 18px;
  border: 2px solid rgba(255, 255, 255, 0.65);
  border-top-color: var(--primary-color, #08cb00);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.configuration__row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.configuration__row--item {
  width: 50%;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 0.75rem;
  background-color: #2b2a2a;
  padding: 1.15rem;
}

.configuration__row--item .label {
  color: white;
  font-weight: 500;
  letter-spacing: -0.15px;
  font-size: 1rem;
  text-transform: capitalize;
}

.configuration__row--item .input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.85);
}

.configuration__row--item .help {
  color: #ff5b5b;
  font-size: .85rem;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
}

/* modal */
.modal-card-head {
  padding: 1.25rem 1.5rem;
  text-transform: capitalize;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: none !important;
}
.modal-card-head p {
  font-size: 1.35rem;
  letter-spacing: -0.15px;
}
.modal-card-foot {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem 1.5rem;
}

/* utils */
.is-primary {
  background-color: var(--privary-color);
}
.is-primary:disabled {
  background-color: var(--privary-color) !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
